<?xml version="1.0"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="FlaskHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\home\python364x86\python.exe|D:\home\site\wwwroot\app.py" resourceType="Unspecified" />
        </handlers>
        <security>
            <requestFiltering>
                <verbs>
                    <add verb="*" allowed="true" />
                </verbs>
            </requestFiltering>
        </security>
    </system.webServer>
</configuration>
